/* renk tanımları */
:root {
    --h1: 40px;
    --h2: 30px;
    --h3: 20px;
    --h4: 15px;
    --h5: 10px;
    --color5: #ed3c44;
    --color4: #f57c38;
    --color3: #271e0f;
    --color2: #fbf9a6;
    --color1: #fafde2;
    --colorwhite: white;
    --colorblack: black;
    --colorgray: gray;
    --colorlightgray: lightgray;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color1);
    background-image: url('/assets/son.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Ekran yüksekliği kadar ayarla */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
form {

    position: relative;
    z-index: 3;
    max-width: 300px;
    margin: auto auto;
    background-color: var(--color2);
    background-size: cover;
    padding: 20px;
    border-radius: 12px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

input {
    background-color: var(--color1);
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    width: 70%;
}

label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}
img{
    max-width: 250px;
}
a {
    background-color: var(--color4);
    color: var(--colorwhite);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: var(--color5);
    color: var(--color1);
}

h1 {
    color: var(--colorblack);
    font-size: var(--h1);
}

.sifremiUnuttum {
    background-color: var(--color2);
    color: var(--color4);
    text-decoration: underline;
}
.sifremiUnuttum:hover {
    background-color: var(--color2);
    color: #ed3c44;
}