:root {
    --h1: 60px bold;
    --h2: 45px bold;
    --h3: 30px bold;
    --h4: 23px bold;
    --h5: 15px bold;
    --color5: #ed3c44;
    --color4: #f57c38;
    --color3: #f9be60;
    --color2: #fbf9a6;
    --color1: #fafde2;
    --colorwhite: white;
    --colorblack: black;
    --colorgray: gray;
    --colorlightgray: lightgray;
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--colorblack);
    background-color: var(--color2);
}

/* Diğer CSS kurallarınız buraya eklenecek */

/* Örneğin: */
.ustmenu {
    list-style: none;
    padding: 0;
}

.ustmenu li {
    display: inline-block;
    margin: 0 10px;
}

/* Ve daha fazla stil ekleyebilirsiniz... */
