/* renk tanımları */
:root {
    --h1: 40px;
    --h2: 30px;
    --h3: 20px;
    --h4: 15px;
    --h5: 10px;
    --color5: #ed3c44;
    --color4: #f57c38;
    --color3: #f9be60;
    --color2: #fbf9a6;
    --color1: #fafde2;
    --colorwhite: white;
    --colorblack: black;
    --colorgray: gray;
    --colorlightgray: lightgray;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--color1);
    background-image: url('/assets/son.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh; /* Ekran yüksekliği kadar ayarla */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form {
    position: relative;
    margin: auto auto;
    background-color: var(--color2);
    padding:20px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    
}
input {
    background-color: var(--color1);
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 8px;

}
.e-posta{
    width: 70%;
}
label {
    text-align: center;
    margin-bottom: 115px;
}
.button-container {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

button {
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 25%;
    background-color: var(--color4);
}

button:hover {
    background-color: var(--color5);
}

a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
    font-size: var(--h4);
}

img{
    max-width: 250px;
}

a:hover {
    color: var(--color1);
}

